[user]
	name = Alex Roberts
	email = aroberts@fitbit.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	b = branch
	lgp = log --oneline
	lgd = log --pretty=\"%h - %s\"
	cp = cherry-pick
[core]
	excludesfile = /Users/aroberts/.gitignore
